<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Want to join?</h1>
  <form action="/api/client/new" method="POST">
    <br>Email<br>
    <input type="email" name="email">
    <br>Full Name<br>
    <input type="text" name="name">
    <br>Phone Number<br>
    <input type="tel" name="tel">
    <br>
    <input type="submit">
  </form>
</body>
</html>